.container {
  border: 2px solid #000;
  border-radius: 8px;
}

.containerInner {
  padding: 20px 40px;
}

.imgAvatar {
  border-radius: 50%;
  object-fit: cover;
  background-color: #2a2a2a;
}

.userName {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  color: #000;
}

.userTag,
.userLocation {
  margin: 0;
  font-size: 24px;
  color: #808080;
}

.listUserStats {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: #000;
  font-size: 24px;
  font-weight: 800;
  background-color: #d3d3d3;
}

.itemUserStats {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.namesStat {
  font-weight: 400;
}
